/* CSS Reset */
html,body{font-family: "Microsoft Yahei";  background-color: #fff; height: 100%; font-size: 62.5%;}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}
ol,ul{margin:0; padding:0;list-style-type:none;}
input, select,button {vertical-align:middle; outline:none; font-family: "Microsoft Yahei";vertical-align: middle;}
button{border: none;}
table {border-collapse:collapse;border-spacing:0;}
a{ text-decoration:none; outline:none;}
a:visited,a:active{ text-decoration:none; }
i{ display: inline-block; text-decoration: none;}
img{max-width: 100%;}
[v-cloak] {display: none;}

/* 清除浮动 */
.fn-clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear {zoom:1;}

/* placeholder重置 */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #aaa;}
input:-moz-placeholder, textarea:-moz-placeholder {　color:#aaa;}
input::-moz-placeholder, textarea::-moz-placeholder {　color:#aaa;}　
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#aaa;} 


/* iconfont 图标字体 */
@font-face{font-family:"iconfont";
src:url('../fonts/iconfont.eot'); /* IE9 */
src:url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
url('../fonts/iconfont.svg#iconfont') format('svg');} /* iOS 4.1- */
.iconfont{font-family:"iconfont"!important;font-size:1.6rem; font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0.2px;-moz-osx-font-smoothing:grayscale;}

/*首页样式*/
#app{overflow: auto; height: 100%; font-size: 1.2rem;}
.activeRouter {color: #2eadff !important;}


.table {width: 100%;}
.table th{ text-align: left; padding: 1rem 0.8rem; font-weight: normal; color: #888; }
.table tr{border-bottom: 1px solid #e5e5e5;}
.table td{padding: 1rem 0.8rem; word-break: break-all;}

.ex-topbar{height: 5rem; background-color: #2eadff; color: #fff; text-align: center; position: relative;}
.ex-topbar span {font-size: 1.8rem; display: block; line-height: 5rem;}
.ex-topbar a{ position: absolute; left: 0; top: 0; bottom: 0; width: 5rem; line-height: 5rem; color: #fff; text-align: center; }
.ex-topbar a i{font-size: 3rem;}
.ex-topbar a:active{background-color: #29a0ec;}
.disableBtn,.disableBtn:active { background-color: #eee !important; color: #ddd !important;}

